html{
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: stretch;
    font-family: 'Roboto', sans-serif;
}
#header{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: #E8E8E8;
    }
.logo {
    flex-grow: 4;
    display: flex;
    justify-content: flex-start;
    height: 100px;
    width: 210px;
    padding-left: 80px;
}
.menu {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.phone {
    display: inline-flex;
    text-align: center;
    margin-right: 100px;
}
.logo img {
    height: 100%;
    width: auto;
}
.phoneIconCima {
    height: 30px;
    width: 22px;
}
.numero {
    width: 100px;
}
.phoneIconCima img {
    height: 100%;
    width: auto;
}
.fbIconCima {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}
.fbIconCima img {
    height: 100%;
    width: auto;
}
.instaIconCima {
    height: 30px;
    width: 30px;
    margin-right: 30px;
}
.instaIconCima img {
    height: 100%;
    width: auto;
}

#cima {
    display: flex;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-image: url("back1.png");
}
.texto-instigante {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.form-box {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 10px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.form-box input {
    margin-bottom: 10px;
}
#email {
    width: 356px;
}
#comentarios {
    width: 356px;
    margin-bottom: 10px;
}
.tiulo-texto {
    align-self: flex-start;
}